.banner {
    background-color: darkgoldenrod;
    display: flex;
    flex-direction: row;

}

.banner__logo {
    max-width: 10em;
    max-height: 10em;
    
}

.banner__title {
    display: flex;
    align-items: center;
    font-family: fantasy;
    font-size: 6em;
}