.fishList {
    background-color: lightyellow;

}

.fish {
    background-color: lightseagreen;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    border:1px solid seashell;
    border-radius: 1em;
    padding: 1em;
}


.fish__picture {
    max-width: 20rem;
    max-height: 20rem;
}

.fish ul {
    font-family: fantasy; 
}