.fishList {
    background-color: lightyellow;

}

.fish {
    background-color: lightseagreen;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    border:1px outset seashell;
    border-radius: 1em;
    padding: 1em;
}


.fish__picture {
    max-width: 20rem;
    max-height: 20rem;
    filter: drop-shadow(18px 16px 4px red);
}
.fish__picture:hover{
    transform:scale(5) rotate(150);
}
.fish ul {
    font-family: fantasy; 
}